<div class="container-big-card">
    <div class="big-card-img">
        <img
            src="https://www.rbsdirect.com.br/filestore/1/3/1/1/0/5/3_3e705849a0aeaf6/3501131_e6760d43b474ffe.jpg?w=700" />
    </div>
    <div class="big-card-title">
        <h1>
            <a href="#">Groot se divertindo antes do embate final</a>
        </h1>
    </div>
    <div class="big-card-description">
        <p>
            <a href="#">Groot tirando uma pequena ferias depois de nascer novamente</a>
        </p>
    </div>
</div>